<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Feedback Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="container">
        <h1>Student Feedback Sentiment Analyzer</h1>

        <form method="POST">
            <textarea name="teaching" rows = "3" placeholder="Teaching Feedback"></textarea>
            <textarea name="coursecontent" rows = "3" placeholder="Course content Feedback"></textarea>
            <textarea name="labwork" rows = "3" placeholder="Labwork Feedback"></textarea>
            <textarea name="extracurricular" rows = "3" placeholder="Extracurricular Feedback"></textarea>

            <button type="submit">Analyze</button>
        </form>

        <div class="result">
            {{ result_text }}
        </div>
    </div>

</body>
</html>